@page "/"

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
@inject IEditInventoryUseCase EditInventoryUseCase

<PageTitle>Test Page</PageTitle>

<ul>
	@foreach (var inv in _inventories)
	{
		<li>@inv.InventoryName</li>
	}
</ul>

@code{

	private List<Inventory> _inventories = new List<Inventory>();

	protected override async Task OnInitializedAsync()
	{
		_inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
		var inventory = new Inventory { InventoryId = 1, InventoryName = "Bike Body", Quantity = 99, Price = 2 };
		await EditInventoryUseCase.ExecuteAsync(inventory);
		_inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
	}
}
