@page "/"
@layout HomePage

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<PageTitle>Inventory Management System</PageTitle>

	<div class="dark-bg"></div>
	<h1 style="color:white;">Inventory Management System</h1>
	<h3 style="color:white;">By Mulham Taylouni</h3>
	<a class="btn btn-primary" href="/inventories">Dashboard</a>


@code{


}
