<form onsubmit="@OnSearch">
	<div class="input-group">
		<MudTextField Immediate="true" Label="Type an inventory name to search for"
		              Clearable="true" @bind-Value="inventoryNameToSearch"  Variant="Variant.Outlined"
		              Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" OnAdornmentClick="OnSearch"
		              AdornmentAriaLabel="Search"/>
	</div>
</form>


@code {
	private string inventoryNameToSearch = string.Empty;

	[Parameter]
	public EventCallback<string> OnSearchInventory { get; set; }

	private void OnSearch()
	{
		OnSearchInventory.InvokeAsync(inventoryNameToSearch);
	}
}
